

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root, 
body {
  font-family: Arial, sans-serif;
  background-color: #EEEEEE;
  },
html {
  background-color: #EEEEEE;
  box-sizing: border-box;
}
@media-keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes fadeIn {
  from {
  opacity:0;
  }
  to {
    opacity:1;
  }
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
p,
nav,
small,
ul,
li {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
